{% block sidebar %}

    <style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

    </style>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About Me</h5>
            <div class="card-body">
            <p class="card-text"> This is a blog that follows my adventures in Japan. I'm starting it as a way to get back into programming. &nbsp
                I'm already 4 years into living here, but hopefully there's still some adventure left!
            </p>
            <a href="https://www.instagram.com/cohrslight/"
                class="btn btn-danger" target="_blank">Instagram</a>
        </div>
    </div>
    </div>

{% endblock sidebar %}